.button {
    background-color: #00decd;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .marvoltbutton {
      font-size: 12px;
        background-color: #0003aa;
  }

  .marvoltbutton:hover {
        background-color: #0105eb;
  }

.opciobutton {
      font-size: 12px;
        background-color: #00decd;
  }

  .opciobutton:hover {
        background-color: #00a5de;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
  }

  h3 {
      text-align: center;
  }

  p {
    text-align: center;
  }
